.foot-sec{
    position: relative;
    width: 100%;
    height: 10rem;
    background-color: rgba(0, 128, 90, 0.16);
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.foot-up{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
.phone{
    font-size: x-large;
    color: rgb(255, 149, 0);
    margin-top: 4%;
}
.contact{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 10px;
}
.link{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.link p{
    color: rgb(255, 149, 0);
    font-size: large;
    font-weight: 900;
}
.link .link-pokeweb{
    margin-top: -15%;
    color: rgb(255, 149, 0);
}
.email{
    font-size: xx-large;
    color: rgb(255, 149, 0);
}
.mail{
    color: rgb(255, 149, 0);
    font-size: large;
    font-weight: 900;
    margin-top: 5%;
}
.e-mail{
    gap: 15px;
}
.mail-link{
    margin-top: -25%;
    color: rgb(255, 149, 0);
}
.pokeflex{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 10px;
}
.pokefoot{
    height: 75px;
    width: 75px;
}
.pokefoot img{
    height: 75px;
    width: 75px;
    object-fit: cover;
}
.pokeflex h1{
    color: rgb(255, 149, 0);
    font-size: x-large;
    font-family: cursive;
    margin-top: 8%;
}
.copy-right{
    color: white;
    text-align: center;
}